type {{.Name}} struct {
    {{range .ImplInterfaces}}
        {{.}}
    {{end}}
}

{{if .HasEmptyConstructor}}
func New{{.Name}}() (*{{.Name}}, error) {
    inspectable, err := ole.RoActivateInstance("{{.FullyQualifiedName}}")
    if err != nil {
        return nil, err
    }
    return (*{{.Name}})(unsafe.Pointer(inspectable)), nil
}
{{end}}

{{range .ExclusiveInterfaces}}
    {{ template "interface.tmpl" .}}
{{end}}
