/*
#include <stddef.h>
*/
import "C"

//export winrt_{{.Name}}_QueryInterface
func winrt_{{.Name}}_QueryInterface(instancePtr, iidPtr unsafe.Pointer, ppvObject *unsafe.Pointer) uintptr {
	// This function must adhere to the QueryInterface defined here:
	// https://docs.microsoft.com/en-us/windows/win32/api/unknwn/nn-unknwn-iunknown
	iid := (*ole.GUID)(iidPtr)
	instance := (*{{.Name}})(instancePtr)
	if ole.IsEqualGUID(iid, instance.IID) {
		// This is us.
		*ppvObject = instancePtr
		return ole.S_OK
	}
	if ole.IsEqualGUID(iid, ole.IID_IUnknown) {
		// This is our parent. There are some limitations as to what we can
		// return here, but returning the *{{.Name}} pointer is fine.
		*ppvObject = instancePtr
		return ole.S_OK
	}
	return 0x80004002 // E_NOTINTERFACE
}

//export winrt_{{.Name}}_Invoke
func winrt_{{.Name}}_Invoke(instancePtr, senderPtr, argsPtr unsafe.Pointer) uintptr {
	// See the quote above.
	instance := (*{{.Name}})(instancePtr)
	instance.Callback(instancePtr, argsPtr)
	return ole.S_OK
}
