{{if .ExclusiveTo}}{{/*Activate class*/ -}}
inspectable, err := ole.RoGetActivationFactory("{{.ExclusiveTo}}", ole.NewGUID(GUID{{.FuncOwner}}))
if err != nil {
    return {{if .ReturnParam }}{{.ReturnParam.DefaultValue}}, {{end}}err
}
v := (*{{.FuncOwner}})(unsafe.Pointer(inspectable))

{{end -}}
{{if .ReturnParam -}}var out {{.ReturnParam.Type}}
{{end -}}
hr, _, _ := syscall.SyscallN(
    v.VTable().{{funcName .}},
    {{- if .ExclusiveTo}}
        0, // this is a static func, so there's no this
    {{else}}
        uintptr(unsafe.Pointer(v)), // this
    {{end -}}
    {{range .InParams -}}
        uintptr({{.Name}}),   // in {{.Name}}
    {{end -}}
    {{if .ReturnParam -}}
        uintptr(unsafe.Pointer(&out)), // out {{.ReturnParam.Type}}
    {{end}})


if hr != 0 {
    return {{if .ReturnParam }}{{.ReturnParam.DefaultValue}}, {{end}}ole.NewError(hr)
}

{{if .ReturnParam -}}
return out, nil
{{- else -}}
return nil
{{- end -}}
