{{if .IsConstructor -}}
    inspectable, err := ole.RoGetActivationFactory("{{.RuntimeClass.TypeNamespace}}.{{.RuntimeClass.TypeName}}", ole.NewGUID("{{.ParentTypeGUID}}"))
    if err != nil {
        return nil, err
    }
    return (*{{.ParentType.TypeName}})(unsafe.Pointer(inspectable)), nil
{{- else}}
    {{if .ReturnParam }}
        var out {{.ReturnParam.Type}}
    {{end }}

    hr, _, _ := syscall.SyscallN(
        v.VTable().{{funcName .}},
        // this
        uintptr(unsafe.Pointer(v)),
        {{range .InParams -}}
            // in params
            uintptr({{.Name}}),   // in {{.Name}}
        {{end -}}
        {{if .ReturnParam -}}
            // out params
            uintptr(unsafe.Pointer(&out)), // out {{.ReturnParam.Type}}
        {{end}})

    
    if hr != 0 {
        return {{if .ReturnParam }}{{.ReturnParam.DefaultValue}}, {{end}}ole.NewError(hr)
    }

    return {{if .ReturnParam }}out, {{end}}nil
{{- end -}}
