{{if .Implement}}
    func {{if and .FuncOwner (not .RequiresActivation)}}
        (v *{{.FuncOwner}})
    {{- end -}}

    {{funcName .}}

    {{- /* input params */ -}}

    (
    {{- range .InParams -}}
        {{.Name}} {{.Type}},
    {{- end -}}
    )

    {{- /* return params */ -}}

    ({{ range .ReturnParams}}{{.Type}},{{ end }}error)

    {{- /* method body */ -}}

    {
    {{template "funcimpl.tmpl" .}}
    }
{{end}}
