type {{.Name}} struct {
    {{range .EmbeddedStructs}}
        {{.Package}}.{{.Name}}
    {{end}}

    {{range .Methods}}
        {{- if .IsStatic}}
            {{continue}}
        {{else if eq .Name ".ctor"}}
            {{continue}}
        {{end -}}
        {{methodName .}} uintptr
    {{end}}
}
