{{if .GUID}}
const GUID{{.Name}} string = "{{.GUID}}"
{{end}}

type {{.Name}} struct {
    ole.IInspectable
}

type {{.Name}}Vtbl struct {
    ole.IInspectableVtbl

    {{range .Funcs}}
        {{if .IsConstructor}}{{continue}}{{end -}}
        {{funcName .}} uintptr
    {{- end}}
}

func (v *{{.Name}}) VTable() *{{.Name}}Vtbl {
	return (*{{.Name}}Vtbl)(unsafe.Pointer(v.RawVTable))
}

{{range .Funcs}}
{{template "func.tmpl" .}}
{{end}}
